# ==============================================
# GoalIQ — Variables de PRODUCTION
# Copie ce fichier en .env sur ton VPS Vultr
# Remplis chaque valeur avec tes vraies clés
# ==============================================

FRONTEND_URL=http://TON_IP_VULTR
API_FOOTBALL_KEY=VOTRE_CLE_API_FOOTBALL
GROQ_API_KEY=VOTRE_CLE_GROQ
FIREBASE_PROJECT_ID=VOTRE_PROJECT_ID_FIREBASE
FIREBASE_SERVICE_ACCOUNT=VOTRE_SERVICE_ACCOUNT_JSON_SUR_UNE_LIGNE
ADMIN_SECRET=CHOISISSEZ_UN_MOT_DE_PASSE_ADMIN_FORT
